html, body {
    height: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 3px;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.timer, .controls {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.minutes, .sep, .seconds {
    font-size: 50px;
    display: inline;
    margin: 5px 0 5px 0;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}