body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    margin: 3px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    max-width: 90%
}

.timer, .controls {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.minutes, .sep, .seconds {
    font-size: 50px;
    display: inline;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 95px;
}


